@model WeatherApp.Models.Weather

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    
</div>

<div class="row">
    
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary()
        @Html.AntiForgeryToken()
        <div>
            @Html.LabelFor(m => m.Location)
        </div>
        <div>
            @Html.EditorFor(m => @m.Location)
        </div>
    }
</div>